    <!-- <p>
        Photo credit: 
        <a href="https://unsplash.com/photos/FsK54FVNRfM">Jeremy Perkins</a>
        <a href="https://expanse.fandom.com/wiki/Outer_Planets_Alliance">The Expanse Wiki</a>
        <br>
        Font credit:
        <a href="https://ufonts.com/download/dinpro-light-opentype.html">DINPro Light</a>,
        <a href="https://ufonts.com/download/dinpro-medium-opentype.html">DINPro Medium</a>
    </p> -->
    <p>Inspired by <a href="https://baconipsum.com/">Bacon Ipsum</a></p>
</div>
</body>
</html>