<% include partials/header %>

<header>
  <h1>Belta <span>Ipsum</span></h1>
</header>

<div class="container">
  <h2>
    Want your lorem ipsum to be out of this world?
  </h2>
  <p>
    This generator creates randomized blocks of text of your favorite langbelta words<br>
    using a dictionary of Belter creole form the popular sci-fi series <span>The Expanse</span>.
  </p>
</div>

<div class="container">
  <form>
    <div class="formRow">
      <div class="label">Paragraphs</div>
      <div class="formCol">
        <div class="inputRow">
          <input type="number" name="paragraphs" id="paragraphs" value="5" min="0" max="100" required>
        </div>
      </div>
    </div>
    <div class="formRow">
      <div class="label">Dictionary</div>
      <div class="formCol">
          <div class="inputRow">
            <input type="radio" name="genType" id="genType1" value="belta" checked>
            <label for="genType1">Pure Belta</label>
          </div>
          <div class="inputRow">
            <input type="radio" name="genType" id="genType2" value="belta-with-filler">
            <label for="genType2">Belta + Latin</label>
          </div>
      </div>
    </div>

    <div class="formRow">
      <div class="label">Options</div>
      <div class="formCol">
          <div class="inputRow">
            <input type="checkbox" name="start-with-belta" id="check1" checked>
            <label for="check1">Start with Belta</label>
          </div>
          <div class="inputRow">
            <input type="checkbox" name="end-with-sasa" id="check2">
            <label for="check2">End with sasa ke</label>
          </div>
      </div>
    </div>

    <div class='formBtns'>
      <button type="submit">Generate</button>
      <button type="button" id="copyBtn">
        <i class="fas fa-clipboard"></i><span class="tooltiptext">Copy to Clipboard</span>Copy
      </button>
    </div>
  </form>

  <textarea spellcheck="false" class="textDisplay"></textarea>
</div>

<script src="scripts/main.js"></script>
<% include partials/footer %>