body {
    height: 100vh;
    /* background-image: url('../assets/jeremy-perkins-stary-sky.jpg'); */
    /* background-size: cover; */
    background-color: #ebebeb;
    font-family: DinLight;
}

.container {
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    height: 200px;
    background: black url('../assets/beltaipsum_banner.jpg');
    background-size: 100% 100%;
    margin: 0 -15px;
    padding: 10px;
}

@media screen and (max-width: 770px) {
    header {
      background-image: url('../assets/beltaipsum_banner_small.jpg');
    }
  }

header h1 {
    font-family: DinMedium;
    font-size: 64px;
    color: white;
    padding-left: 15px;
}

#copyBtn {
    position: relative;
    margin-right: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

#copyBtn .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

#copyBtn .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

#copyBtn:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#copyBtn i {
    padding-right: 5px;
}

textarea {
    height: 50%;
    width: 100%;
    resize: none;
}

@font-face {
    font-family: DinLight;
    src: url("../assets/ufonts.com_dinpro-light-opentype.otf") format("opentype");
}

@font-face {
    font-family: DinMedium;
    src: url("../assets/ufonts.com_dinpro-medium-opentype.otf") format("opentype");
}