@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700'); 

html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #ecf0f1;
    /* min-height: 100%; */
}

/* Header content */

header {
	text-align: center;
}
header h1 {
	font-size: 64px;
	font-weight: 300;
    padding: 80px 0 25px;
    margin: 0;
	color: #2c3e50;
}
header h1 span {
	font-weight: 700;
}

.container {
    margin: 0 auto;
    text-align: center;
    color: #57595a;
    height: 100%;
}

h2 {
    font-size: 24px;
	font-weight:400;
}

p span {
    font-weight: 500;
}

/* Form content */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: 0 auto;
}

.formRow {
    display: flex;
    width: 310px;
    padding: 10px 0;
}

.formCol {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.inputRow {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

#paragraphs {
    width: 100%;
    /* padding: 1px 0;
    line-height: 24px;
    font-size: 16px; */
}

.label {
    width: 180px;
    margin-right: 40px;
    text-align: left;
}

label {
    margin: 0 0 0 10px;
}

.formBtns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Text area content */
textarea {
    width: 600px;
    height: 300px;
    box-sizing: border-box;
    resize: none;
}

button {
    height: 40px;
    border: none;
    border-radius: 8px 8px 0 0;
    padding: 8px;
    background-color: #4a6886;
    color: white;
    font-size: 16px;
}

button:focus {
    outline: none;
    box-shadow: 0px -2px 2px 1px #666666;
}

button:active {
    background: rgb(44,62,80);
    background: linear-gradient(180deg, #3e5974 0%, #263647 33%, #263647 66%, #3e5974 100%);
}

button:hover {
    background-color: #3e5974;
}

/* Copy Button Tooltip */

#copyBtn {
    position: relative;
    /* margin-right: 20px; */
}

#copyBtn .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

#copyBtn .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

#copyBtn:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#copyBtn i {
    padding-right: 5px;
}
